.container {
    display: flex;
    flex-direction: column;
}

.eventTitle {
    color: $red-color;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.dateAndUsers {
    color: $sand-color;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.dateAndTime {
    margin-bottom: 5px;
}

.usersAmount {
    display: flex;
    flex-direction: row;
}

.eventDescription {
    color: $sand-color;
    font-size: 13px;
    margin: 0;
}

.eventContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    
}

.imgEvents {
    max-width: 100px;
}

.imgBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    
}

.line {
    height: 1px;
    background-color: $sand-color;
    margin-bottom: 12px;
}

.enrollBtn, .enrollBtn a {
    width: 100%; 
    border-style: none;
    border-radius: 2px;
    background-color: $sand-color;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    color: $dark-color;
    text-decoration: none;
}

.hide {
    display: none !important;
}

.adminButtons {
    display: flex;
}

@media (min-width: 769px) {
    .imgBtnContainer {
        flex-direction: row;
    }

    .adminButtons {
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 20px;
    }

    .enrollBtn, .enrollBtn a {
        width: auto;
    }

    .imgEvents {
        max-width: 300px;
    }
    
    .enrollBtn {
        position: relative;
        right: 100%;
    }
}