.eventTitle {
    color: $red-color;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.dateAndUsers {
    color: $sand-color;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.eventDescription {
    color: $sand-color;
    font-size: 13px;
    margin: 0;
}

.eventContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    
}

.imgEvents {
    max-width: 100px;
}

.imgBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    
}

.line {
    height: 1px;
    background-color: $sand-color;
    margin-bottom: 12px;
}

.enrollBtn {
    width: 100%; 
    border-style: none;
    border-radius: 2px;
    background-color: $sand-color;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    color: $dark-color
}

.navEvents{
    color: $red-color;
}