.container {
    display: flex;
    flex-direction: column;
}

.eventTitle {
    color: $red-color;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.dateAndUsers {
    color: $sand-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
}

.dateAndTime {
    margin-bottom: 5px;
}

.usersAmount {
    display: flex;
    flex-direction: row;
}

.eventDescription {
    color: $sand-color;
    font-size: 13px;
    margin: 0;
}

.eventContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.eventInfo {
    width: 100%;
}

.imgEvents {
    max-width: 100px;
}

.imgBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    width: 135px;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 4px;
}

.btn {
    margin: 4px;
}

.line {
    height: 1px;
    background-color: $sand-color;
    margin-bottom: 12px;
}

.enrollBtn, .enrollBtn a {
    width: 100%; 
    border-style: none;
    border-radius: 2px;
    background-color: $sand-color;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    color: $dark-color;
    text-decoration: none;
}

.hide {
    display: none !important;
}

.adminButtons {
    display: flex;
}

@media (min-width: 769px) {

    .eventContainer{
        width:700px;
        margin-left: 40px;
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .eventInfo{
        width: 50%;
        position: relative;
        left: auto;
    }

    .dateAndUsers{
        font-size: 16px;
        display: flex;
        align-content: flex-start;
    }
    
    .titleAndDesc{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
    .eventTitle{
        font-size: 22px;
    }
    .eventDescription {
        font-size: 18px;
        margin-top: 15px;
    }

    .imgBtnContainer {
        width: 50px;
        position: relative;
        left: 300px;
        margin-top: 30px;
        flex-direction: column;
        justify-content: space-between;
    }

    .imgEvents {
        max-width: 370px;
        align-self:flex-end;
        margin: 10px;
    }

    .enrollBtn, .enrollBtn a {
        width: auto;
    }

    .enrollBtn {
        margin-bottom: 10px;
        flex-direction: column-reverse;
        justify-self: flex-end;
    }

    .adminButtons {
        flex-direction: row;
        justify-content: flex-end;
    }
}