.containerNewEvent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    
}

.buttonCreate {
    background-color: $dark-color;
    border: none !important;
}

.imgButton{
    width: 6vw !important;
    height: auto !important;
}

.txtNewEvent {
    color: $red-color !important;
}