.card {
    background-color: $dark-color !important;
}

.cardTitle {
    color: $orange-color !important;
}

.input-group-text {
    border-color: $sand-color !important;
    background-color: $dark-color !important;
    color: $orange-color!important ;
    width: 100px !important;

}

.form-control {
    background-color: $dark-color !important;
    color: gray !important;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.btn-carousel {
    color: $sand-color !important;
}

.btn-lg {
    background-color: $orange-color !important;
    color: $dark-color !important;
}

.btnCreate {
    display: flex !important;
    justify-content: flex-end !important;
}

.sliderCB {
    color: #6574cd !important;
    margin-left: 20px !important;
    border-color: green !important;
}

@media (min-width: 769px) {
    
    .cardTitle{
        margin-bottom: 30px;
    }
    
    .subirFoto{
        display: flex !important;
        justify-content: space-between;
        margin-right: 30px;
    }
}