.containerHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerKlikLearn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.textHeader {
    color: $red-color;
    font-family: 'Sarina', cursive;
    font-size: 8vw;
}

.logo {
    width: 12vw;
}
