.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.containerKlikLearn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

h1.textHeader {
    color: $red-color;
    font-family: 'Sarina', cursive;
    font-size: 7vw;
}

.logo {
    width: 12vw;
    height: 12vw;
    margin-right: 10px;
}

@media (min-width: 769px) {
    .textHeader {
        font-size: 3rem !important;
        margin-left: 20px;
    }

    .logo {
        width: 6.5rem;
        height: 6.5rem;
    }
}