.containerHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.containerKlikLearn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

h1.textHeader {
    color: $red-color;
    font-family: 'Sarina', cursive;
    font-size: 7vw;
    margin-bottom: 0px !important;
}

.logo {
    width: 12vw;
    margin-right: 10px;
}
