.card-img-top.imgShow{
    width: 100%;
    height: 200px;
}

@supports(object-fit: cover){
    .card-img-top.imgShow{
    object-fit: cover;
    object-position: center center;
    }
}

.card-title {
    color: $orange-color !important;
    font-size: 30px;
}

.card-text {
    color: $sand-color !important;   
}

.cardDescriptionText {
    background-color: $dark-color !important;
    color: $sand-color !important;
}

.cardAttendees {
    background-color: $dark-color !important;
    color: $sand-color !important;
}

@media (min-width: 769px) {

    .card-img-top.imgShow{
        width: 60% !important;
        max-height: 300px;
        position: relative;
        display: flex !important;
        align-self: center !important;
        margin-bottom: 30px;
    }

    @supports(object-fit: cover){
        .card-img-top.imgShow{
        height: 100%;
        object-fit: cover;
        object-position: center center;
        }
    }

    .card-title.titulo{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .card-text.date{
        font-weight: bold;
        text-align: center;
    }

    .list-group.list-group-flush{
        text-align: center;
    }
    .list-group-item.cardDescriptionText{
        font-size: 18px;
    }

    .cardAttendees{
        font-weight: bold;
    }

    .buttonShow{
        display: flex;
        justify-content: center;
    }
}