.cardTitle {
    color: $orange-color !important;
}

.cardDateText {
    color: $sand-color !important;   
}

.cardDescriptionText {
    background-color: $dark-color !important;
    color: $sand-color !important;
}

.cardAttendees {
    background-color: $dark-color !important;
    color: $sand-color !important;
}