.card-title {
    color: $orange-color !important;
    font-size: 30px;
}

.card-text {
    color: $sand-color !important;   
}

.cardDescriptionText {
    background-color: $dark-color !important;
    color: $sand-color !important;
}

.cardAttendees {
    background-color: $dark-color !important;
    color: $sand-color !important;
}