.slide-img{
    width: 94vw;
    height: 56vw;
    display: flexbox;
    align-items: flex-end;
    align-content: flex-end;
}

.div-title{
    border-radius: 15px;
    background-color: $dark-color;
    padding: 10px;
    margin-bottom: 5px;
}

.title-slide{
    display: block;
    align-content: center;
}

.btn-sm{
    font-weight: bold;
}

.carousel-caption{
    display:flexbox;
    justify-items: flex-start;
}
/* .slider {
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sliderEvent {
    min-width: 120px;
    height: 150px;
    background-color: $sand-color;
    margin-right: 9px;
    margin-left: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.sliderTitleBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderEnrollBtn {
    position: absolute;
    bottom: 0; 
    text-decoration: none;
    color: $dark-color;
    margin: 0;
    width: 100%;
    font-weight: 600;
    background-color: $red-color;
    text-align: center;
}

.sliderTitle {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: $red-color;
    margin: 5px;
}

.sliderImgContainer {
    width: 100%;
    margin: 0;
}

.sliderImg {
    width: 100%;
} */