.slider{
    display: flex;
    width: 100vw;
    height: 20vh;
    margin-bottom: 6px;
}

.carousel-inner.innerNewSize {
    display: flex;
    width: 100vw;
    height: 20vh !important;
    justify-items: center;
    align-items: center;

}

.slide-img{
    height: 50%;
    width: auto;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.carousel-caption{
    background-color: rgba(52, 63, 85, 0.70);
    height: 50px;
    width: 100%;
    left: 0 !important;
    padding: 5px !important;
    display: flex;
    justify-content: space-between;
}

.title-slide{
    border-radius: 10px;
    padding: 10px;
    font-weight: normal;
    font-size: 15px;
    color: $sand-color;
}

.btn.btn-sm.more{
    width: 80px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(101, 116, 205, 0.60);
    color: $sand-color;
    margin-top: 3px !important;
}

.carousel-indicators{
    margin-top: 4px;
}

